<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0" />
		
		<title>Clipperz - keep it to yourself</title>

		<link rel="icon" type="image/x-icon" href=<%= htmlWebpackPlugin.options.icon_href %>>	
		<link rel="manifest" 				 href=<%= htmlWebpackPlugin.options.manifest_href %>>
	</head>
	<body>
		<div id="app">
			<div class="mainDiv">
				<div class="page">
					<div class="content">
						<header>
							<h1>clipperz</h1>
							<h3 class="clipperzPayoff">keep it to yourself</h3>
						</header>
					</div>
				</div>
			</div>
			<div class="overlay visible">
				<div class="spinner">
					<div class="bar01"></div>
					<div class="bar02"></div>
					<div class="bar03"></div>
					<div class="bar04"></div>
					<div class="bar05"></div>
					<div class="bar06"></div>
					<div class="bar07"></div>
					<div class="bar08"></div>
					<div class="bar09"></div>
					<div class="bar10"></div>
					<div class="bar11"></div>
					<div class="bar12"></div>
				</div>
				<span class="title">loading</span>
			</div>
		</div>
	</body>
</html>
